.content {
  display: flex;
  flex-wrap: wrap;
}

.create-new-event {
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

app-event-item {
  display: block;
  padding-right: 1rem;
}
